* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:rgb(255, 255, 255);
  --secondary-color: rgb(126, 30, 46);
  --tertiary-color: rgb(44, 121, 44);
  --seperator-color:rgb(190, 183, 183);
  --button-background: rgb(243, 158, 174);
}
body {
  background-image: url(../image/login\ img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.center {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkbox{
margin-right: 5px;
}
.seperator {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.seperator h5 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.form {
  background-color: var(--primary-color);
  width: 90vw;
  padding: 14px;
  margin-bottom: 4vh;
}
.line {
  flex: 1;
  background-color:var(--seperator-color) ;
  height: 1px;
}
.log-in {
  position: absolute;
  right: 8vw;
  font-size: 19px;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
a:hover {
  color:var(--tertiary-color);
}
.pass {
  margin-top: 12vh;
  display: flex;
  justify-content: space-between;
}
input.input {
  width: 70vw;
  height: 4vh;
}
#color{
  width: 10vw;
}
.input-1 {
  margin-bottom: 12px;
}
small {
  color: var(--secondary-color);
}
.login {
  width: 80px;
}
.label {
  color:var(--tertiary-color);

}
button {
  background-color:var(--button-background);
  color:var(--secondary-color);
  border-radius: 5px;
  border: none;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.success {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.success> h1 {
  color:var(--secondary-color);
  
}
input:focus {
  background-color:var(--button-background)
}
.img {
  width: 18px;
  margin-right: 3px;
}
.terms {
  margin-top: 10px;
  display: flex;
}
.register-btn {
  width: 80px;
}
@media screen and (min-width: 768px) {
  .form {
    width: 70vw;
  }
  input.input{
    width: 45vw;
  }
  #color{
    width: 10vw;
  }

}
@media screen and (min-width: 992px) {
  .form {
    width: 40vw;
  }
  input.input{
    width: 30vw;
  }
  #color{
    width: 10vw;
  }

} 
